<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://codepen.io/Sextant/pen/wsznv/css/style.css" rel="stylesheet">
    </head>
    <body>

        <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>

<div>
<div class="under"><p class="btn btn1"><a href="on">on</a></p></div>
<div class="under"><p class="btn btn2"><a href="off">off</a></p></div>

</div>



    
    </body>
</html>